<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.oa.common.dao.CountUserMapper">
  <resultMap id="BaseResultMap" type="com.heli.oa.common.entity.CountUser">

    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_nickname" jdbcType="VARCHAR" property="userNickname" />
    <result column="user_accounts" jdbcType="VARCHAR" property="userAccounts" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_img" jdbcType="VARCHAR" property="userImg" />
    <result column="user_qq_id" jdbcType="VARCHAR" property="userQqId" />
    <result column="user_wc_id" jdbcType="VARCHAR" property="userWcId" />
    <result column="user_time" jdbcType="VARCHAR" property="userTime"/>
    <result column="user_postbox" jdbcType="VARCHAR" property="userPostbox"/>
    <result column="user_st_id" jdbcType="INTEGER" property="userStId"/>
    <result column="user_st_time" jdbcType="VARCHAR" property="userStTime"/>
    <result column="user_lock_type" jdbcType="INTEGER" property="userLockType"/>
    <result column="user_service" jdbcType="VARCHAR" property="userService"/>
    <result column="user_st_temp_id" jdbcType="VARCHAR" property="userStTempId"/>
	<result column="user_st_temp_time" jdbcType="VARCHAR" property="userStTempTime"/>
    <result column="time" jdbcType="VARCHAR" property="time"/>
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_nickname, user_accounts, user_password, user_img, user_qq_id,
    user_wc_id, DATE_FORMAT(user_time, '%Y-%m-%d %H:%i:%s') as user_time, user_postbox, user_st_id, DATE_FORMAT(user_st_time, '%Y-%m-%d %H:%i:%s') as user_st_time,
    user_lock_type, user_service, user_st_temp_id, user_st_temp_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from count_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <select id="selectPageTotal" resultType="java.lang.Integer" parameterType="com.heli.oa.common.entity.CountUser">
    select count(1)
    from count_user
    where 1 = 1
    <if test="userAccounts != null and userAccounts != ''" >
      and user_accounts = #{userAccounts,jdbcType=VARCHAR}
    </if>
    <if test="userQqId != null and userQqId != ''" >
      and user_qq_id = #{userQqId,jdbcType=VARCHAR}
    </if>
    <if test="userWcId != null and userWcId != ''" >
      and user_wc_id = #{userWcId,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectPage" resultMap="BaseResultMap" parameterType="com.heli.oa.common.entity.CountUser" >
    select <include refid="Base_Column_List" />
    from count_user
    where 1 = 1
    <if test="userAccounts != null and userAccounts != ''" >
      and user_accounts = #{userAccounts,jdbcType=VARCHAR}
    </if>
    <if test="userQqId != null and userQqId != ''" >
      and user_qq_id = #{userQqId,jdbcType=VARCHAR}
    </if>
    <if test="userWcId != null and userWcId != ''" >
      and user_wc_id = #{userWcId,jdbcType=VARCHAR}
    </if>
    order by user_id asc
    limit #{page,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  </select>

  <select id="searchCountUserByInfo" resultMap="BaseResultMap" parameterType="com.heli.oa.common.entity.CountUser" >
    select <include refid="Base_Column_List" />
    from count_user
    where 1=1
    <if test="userAccounts != null and userAccounts != ''" >
      and user_accounts = #{userAccounts,jdbcType=VARCHAR}
      or user_qq_id = #{userAccounts,jdbcType=VARCHAR}
      or user_wc_id = #{userAccounts,jdbcType=VARCHAR}
      or user_nickname = #{userAccounts,jdbcType=VARCHAR}
    </if>
    order by user_id asc
  </select>

  <insert id="insertSelective" parameterType="com.heli.oa.common.entity.CountUser" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
    
    insert into count_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userNickname != null">
        user_nickname,
      </if>
      <if test="userAccounts != null">
        user_accounts,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userImg != null">
        user_img,
      </if>
      <if test="userQqId != null">
        user_qq_id,
      </if>
      <if test="userWcId != null">
        user_wc_id,
      </if>
      <if test="userTime != null">
      	user_time,
      </if>
      <if test="userPostbox != null">
      	user_postbox,
      </if>
      <if test="userStId != null">
      	user_st_id,
      </if>
      <if test="userStTime != null">
      	user_st_time,
      </if>
      <if test="userType != null">
      	user_type,
      </if>
      <if test="userLockType != null">
      	user_lock_type,
      </if>
      <if test="userService != null">
      	user_service,
      </if>
      <if test="userStTempId != null">
      	user_st_temp_id,
      </if>
      <if test="userStTempTime != null">
      	user_st_temp_time
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userNickname != null">
        #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userAccounts != null">
        #{userAccounts,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userImg != null">
        #{userImg,jdbcType=DOUBLE},
      </if>
      <if test="userQqId != null">
        #{userQqId,jdbcType=VARCHAR},
      </if>
      <if test="userWcId != null">
        #{userWcId,jdbcType=VARCHAR},
      </if>
      <if test="userTime != null">
      	 #{userTime,jdbcType=VARCHAR},
      </if>
       <if test="userPostbox != null">
      	#{userPostbox,jdbcType=VARCHAR},
      </if>
      <if test="userStId != null">
      	 #{userStId,jdbcType=INTEGER},
      </if>
       <if test="userStTime != null">
      	#{userStTime,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
      	#{userType,jdbcType=VARCHAR},
      </if>
      <if test="userLockType != null">
      	#{userLockType,jdbcType=VARCHAR},
      </if>
      <if test="userService != null">
      	#{userService,jdbcType=VARCHAR},
      </if>
      <if test="userStTempId != null">
      	#{userStTempId,jdbcType=VARCHAR},
      </if>
      <if test="userStTempTime != null">
      	#{userStTempTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.heli.oa.common.entity.CountUser">
    update count_user
    <set>
      <if test="userAccounts != null">
        user_accounts = #{userAccounts,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null">
        user_nickname = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userImg != null">
        user_img = #{userImg,jdbcType=DOUBLE},
      </if>
      <if test="userTime != null">
      	user_time = #{userTime,jdbcType=VARCHAR},
      </if>
      <if test="userPostbox != null">
      	user_postbox = #{userPostbox,jdbcType=VARCHAR},
      </if>
      <if test="userQqId != null">
      	user_qq_id = #{userQqId,jdbcType=VARCHAR},
      </if>
      <if test="userWcId != null">
      	user_wc_id = #{userWcId,jdbcType=VARCHAR},
      </if>
      <if test="userStId != null">
      	user_st_id = #{userStId,jdbcType=INTEGER},
      </if>
      <if test="userStTime != null">
      	user_st_time = #{userStTime,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
      	user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userLockType != null">
      	user_lock_type = #{userLockType,jdbcType=VARCHAR},
      </if>
      <if test="userService != null">
      	user_service = #{userService,jdbcType=VARCHAR},
      </if>
      <if test="userStTempId != null">
      	user_st_temp_id = #{userStTempId,jdbcType=VARCHAR},
      </if>
      <if test="userStTempTime != null">
      	user_st_temp_time = #{userStTempTime,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>


  <select id="selectUserPage" resultMap="BaseResultMap">
    select us.*,st.st_name
    from `count_user` as us, mosou_studycard as st
    WHERE us.user_st_id=st.st_id AND
    <choose>
      <when test="type==5">
        us.user_lock_type=#{type} limit #{pageIndex},#{pageSize}
      </when>
      <when test="type!=5">
        us.user_lock_type &lt; 5 limit#{pageIndex},#{pageSize}
      </when>
    </choose>
  </select>

  <select id="selectUser" resultMap="BaseResultMap">
    select us.*,st.st_name
    from `count_user` as us, mosou_studycard as st
    WHERE us.user_st_id=st.st_id
    <choose>
      <when test="key=='account'">
        and user_accounts=#{val}
      </when>
      <when test="key=='name'">
        and user_nickname=#{val}
      </when>
      <when test="key=='qq'">
        and user_qq_id=#{val}
      </when>
      <when test="key=='wx'">
        and user_wc_id=#{val}
      </when>
    </choose>
  </select>

  <update id="updateUserStudy" parameterType="com.heli.oa.common.entity.CountUser">
        update count_user
        set
        user_st_id=#{0},
        user_st_time=#{1}
        where user_st_id=#{2}
  </update>
  
</mapper>