<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.oa.plan.dao.MyShopMapper">
  <resultMap id="BaseResultMap" type="com.heli.oa.plan.entity.MyShop">
    <id column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="shop_logo" jdbcType="VARCHAR" property="shopLogo" />
    <result column="shop_title_code" jdbcType="VARCHAR" property="shopTitleCode" />
    <result column="shop_user_id" jdbcType="INTEGER" property="shopUserId" />
    <result column="shop_jd_id" jdbcType="VARCHAR" property="shopJdId" />
    <result column="shop_binding" jdbcType="VARCHAR" property="shopBinding" />
  </resultMap>
  <sql id="Base_Column_List">
    shop_id, shop_name, shop_logo, shop_title_code, shop_user_id, shop_jd_id, shop_binding
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cehua_shop
    where shop_id = #{shopId,jdbcType=INTEGER},
  </select>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from cehua_shop
  where shop_user_id = #{0}
</select>
  <select id="selectByUserIdAndBindingType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cehua_shop
    where shop_user_id = #{0}
    and shop_binding = #{1}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cehua_shop
    where shop_id = #{shopId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.heli.oa.plan.entity.MyShop">
    insert into cehua_shop (shop_id, shop_name, shop_logo,
      shop_title_code, shop_user_id, shop_jd_id, shop_binding)
    values (#{shopId,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{shopLogo,jdbcType=VARCHAR},
      #{shopTitleCode,jdbcType=VARCHAR}, #{shopUserId,jdbcType=INTEGER}, #{shopJdId,jdbcType=VARCHAR}, #{shopBinding,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.heli.oa.plan.entity.MyShop">
    insert into cehua_shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="shopLogo != null">
        shop_logo,
      </if>
      <if test="shopTitleCode != null">
        shop_title_code,
      </if>
      <if test="shopUserId != null">
        shop_user_id,
      </if>
      <if test="shopJdId != null">
        shop_jd_id,
      </if>
      <if test="shopBinding != null">
        shop_binding,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopLogo != null">
        #{shopLogo,jdbcType=VARCHAR},
      </if>
      <if test="shopTitleCode != null">
        #{shopTitleCode,jdbcType=VARCHAR},
      </if>
      <if test="shopUserId != null">
        #{shopUserId,jdbcType=INTEGER},
      </if>
      <if test="shopJdId != null">
        #{shopJdId,jdbcType=VARCHAR},
      </if>
      <if test="shopBinding != null">
        #{shopBinding,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.heli.oa.plan.entity.MyShop">
    update cehua_shop
    <set>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopLogo != null">
        shop_logo = #{shopLogo,jdbcType=VARCHAR},
      </if>
      <if test="shopTitleCode != null">
        shop_title_code = #{shopTitleCode,jdbcType=VARCHAR},
      </if>
      <if test="shopUserId != null">
        shop_user_id = #{shopUserId,jdbcType=INTEGER},
      </if>
      <if test="shopJdId != null">
        shop_jd_id = #{shopJdId,jdbcType=VARCHAR},
      </if>
      <if test="shopJdId != null">
        shop_binding = #{shopBinding,jdbcType=VARCHAR},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heli.oa.plan.entity.MyShop">
    update cehua_shop
    set shop_name = #{shopName,jdbcType=VARCHAR},
      shop_logo = #{shopLogo,jdbcType=VARCHAR},
      shop_title_code = #{shopTitleCode,jdbcType=VARCHAR},
      shop_user_id = #{shopUserId,jdbcType=INTEGER},
      shop_jd_id = #{shopJdId,jdbcType=VARCHAR},
      shop_binding = #{shopBinding,jdbcType=VARCHAR}
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
</mapper>